<ion-header>
	<ion-toolbar>
		<ion-title>checkout</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
	<ion-card class="ion-padding-start" >
		<ion-grid>
			<ion-row class="ion-align-items-center">
				<ion-col size="9">
					<p> Deliver to: <span class="address-main"> {{address.name}}, {{address.pin}} </span> </p>
					<p> {{address.house}} </p>
				</ion-col>
				<ion-col>
					<ion-button fill="outline">Change</ion-button>
				</ion-col>
			</ion-row>
		</ion-grid>
	</ion-card>	

	<ion-list>
		<ion-item *ngFor="let product of products">
			<ion-card class="product-card">
				<ion-button class="remove-button" slot="icon-only" color="danger" fill="clear" (click)="removeAlert()" class="ion-float-right">
					<ion-icon name="close"></ion-icon>
				</ion-button>
				<ion-grid>
					<ion-row>
						<ion-col size="auto">
							<ion-img [src]="product.imageUrl"></ion-img>
						</ion-col>
						<ion-col>
							<ion-row>
								<ion-col>

								</ion-col>
								<ion-col>
								</ion-col>
							</ion-row>
							<ion-row>
								<ion-col>
									<h3> {{ product.title }} </h3>
									<p> {{ product.description }} </p> 
								</ion-col>
								<ion-col class="ion-no-padding">
									<ion-row>
										<ion-col size="6">
											<ion-item class="quantity">
												<ion-label position="floating">Purchase Qty</ion-label>
												<ion-input></ion-input>
											</ion-item>
										</ion-col>
										<ion-col size="6">
											<ion-item class="return">
												<ion-label position="floating">Return Qty</ion-label>
												<ion-input></ion-input>
											</ion-item>
										</ion-col>
									</ion-row>
								</ion-col>
							</ion-row>
							<h2> {{ product.price }}  <small> <del> 342 </del> <span class="discount"> 32% Return Discount </span> </small>  </h2>
						</ion-col>
					</ion-row>
				</ion-grid>
				<p> </p>
			</ion-card>
		</ion-item>
	</ion-list>
	<ion-card>
		<ion-card-header>
			<ion-card-title>
				PRICE DETAILS
			</ion-card-title>
		</ion-card-header>
		<ion-card-content>
		</ion-card-content>
		<div class="price-details-item" id="price-details">
			<p> Price (3 items)</p>
			<p> 3452</p>
		</div>
		<div class="price-details-item" id="discount-details">
			<p> Return Discount</p>
			<p> 452</p>
		</div>
		<div class="price-details-item" id="amount-details">
			<p> Amount Payable</p>
			<p> 452</p>
		</div>
		<div id="savings">
			Total Savings of 345 on this order
		</div>
		
<!-- 
		Amount Payable

		Total Savings of 345 on this order -->
	</ion-card>
</ion-content>
<div class="confirm-card"> 
	<div id="confirm-card-details">
		<div id="cart-total">Subtotal (3 items): 243114</div>
		<a id="price-details-link" href="#">Details</a>
	</div>
	<div id="order-confirm">
		<button id="order-confirm-button">PLACE ORDER</button>
	</div>
</div>