.address-main{
	font-weight:bold;
}

ion-img{
	width:120px;
	height: 120px;
}

.product-card {
	width: 100%;
}

small{
	font-size: 0.6em;
}

.discount{
	color: var(--ion-color-success);
}

.remove-button{
	position:absolute;
}

[ion-fixed] {
	width:100%;
	background: red;
}

.confirm-card{
	width:100%;
	box-shadow: 0 -1px 5px rgba(0,0,0,0.19), 0 -1px 3px rgba(0,0,0,0.23) !important;
	z-index:999;
	box-sizing: border-box;
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding:20px;
}

#cart-total{
	font-size:1.2em;
}

#price-details-link{
	font-size: 0.6em;
	color: var(--ion-color-primary);
}

#order-confirm-button{
	background: var(--ion-color-tertiary);
	color:#fff;
	padding:10px;
}

.price-details-item{
	display: flex;
	justify-content: space-between;
	margin: 0 40px;
}

ion-card-header{
	border-bottom:1px solid #f0f0f0;
}

#amount-details{
	border-top: 1px dashed #e0e0e0;
	font-weight: bold;
}

#savings{
	padding: 20px 30px;
	border-top: 1px solid #f0f0f0;
	color: var(--ion-color-success);
}