<ion-header>
  <ion-toolbar>
    <ion-title>products</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-segment (ionChange)="onFilterUpdate($event)">
      <ion-segment-button value="regular" checked>Regular</ion-segment-button>
      <ion-segment-button value="occasional">Occasional</ion-segment-button>
    </ion-segment>
    <ion-row>
      <ion-col>
        <ion-list>
          <ion-item *ngFor="let product of filteredProducts" lines="none">
            <ion-card class="product-card">
              <ion-row class="ion-align-items-end">
                <ion-col size="auto">
                    <ion-img [src]="product.imageUrl"></ion-img>
                  </ion-col>
                  <ion-col class="ion-no-padding">
                    <h3> {{ product.title }} </h3>
                    <p class="product-description"> {{ product.description }} </p>
                    <ion-row id="quantity-row">
                      <ion-col size="4" offset="1">
                        <ion-item class="quantity">
                          <ion-label position="floating">Purchase Qty</ion-label>
                          <ion-input type="text"></ion-input>
                        </ion-item>
                      </ion-col>
                      <ion-col size="4" offset="1">
                        <ion-item class="quantity">
                          <ion-label position="floating">Return Qty</ion-label>
                          <ion-input (input)="onReturnQtyEntered($event.target.value)"></ion-input>
                        </ion-item>
                      </ion-col>
                    </ion-row>
                    <ion-button (click)="onaddedToCart()" fill="outline">Add to Cart</ion-button>  
                    <ion-button [routerLink]="['/checkout']">Order Now</ion-button>
                  </ion-col>
              </ion-row>
            </ion-card>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
